<header>
    <div class="container">
        <nav class="header">
            <a href="/"><img src="/img/logo.png" alt="Site logo"></a>
            <a href="/cars">Cars</a>
            <a href="#">Contacts</a>
            <a href="#">Help & Support</a>
            <a href="#">Donate</a>
            <a href="#">Log In/Sign up</a>
        </nav>
    </div>
</header>